*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #6666B0;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #0D151C;
    color:white ;
    border-radius: 1rem;
    border: none;
}
#new-game{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #DDC955;
    color:white ;
    border-radius: 1rem;
    border: none;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 7vmin;
    color:#D51B3D ;
    
}
#msg{
    color: #FB8500 ;
    font-size: 5vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}